.productPage {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 24px;

  @media (max-width: 1200px) {
    grid-template-columns: auto;
    gap: 0;
  }

  .filterWrap {
    border-right: 1px solid #ebebeb;
    padding: 24px 24px 24px 12px;

    @media (max-width: 1200px) {
      border-right: none;
      padding: 0;
    }
  }

  .productList {
    position: relative;
    padding: 24px 0;
    min-height: calc(100vh - 70px);

    @media (max-width: 768px) {
      padding-top: 12px;
    }



    .filterSorting {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 24px;

      @media (max-width: 1200px) {
        justify-content: space-between;
      }

      @media (max-width: 768px) {
        box-shadow: 0px -2px 14px 0px #4c4c4c0f;
        background: #fff;
        position: fixed;
        bottom: 0;
        z-index: 50;
        right: 0;
        left: 0;
        padding: 0;
      }

      .breadCum {
        display: flex;
        align-items: center;

        @media (max-width: 1200px) {
          display: none;
        }

        li {
          list-style: none;
          font-size: 14px;
          text-transform: capitalize;

          span {
            color: #989898;
            padding: 0 5px;
          }

          a {
            color: #333;
            text-decoration: none;
            font-weight: 400;
          }

          &:last-child {
            a {
              color: #1c1c1c;
              font-weight: 500;
            }
          }
        }
      }


      .filter {
        border: 1px solid #ebebeb;
        width: 80px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        display: none;

        &:hover {
          border: 1px solid #1c1c1c;
        }

        @media (max-width: 1200px) {
          display: block;
        }

        @media (max-width: 768px) {
          border: none;
          border-right: 1px solid #ebebeb;
          width: 50%;

          &:hover {
            border: none;
            border-right: 1px solid #ebebeb;
          }
        }

        svg {
          padding-right: 5px;
          font-size: 25px;
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }
      }

      .sorting {
        @media (max-width: 768px) {
          width: 50%;
        }

        .selectDropdown {
          border: 1px solid #ebebeb;
          width: 150px;
          height: 45px;
          line-height: 45px;
          cursor: pointer;
          transition: all 0.3s ease;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 10px;

          &:hover {
            border: 1px solid #1c1c1c;
          }

          @media (max-width: 768px) {
            width: 100%;
            border: none;
            display: block;
            text-align: center;

            &:hover {
              border: none;
            }
          }
        }

        li {
          font-size: 16px;
          color: #1c1c1c;
          cursor: pointer;
        }
      }
    }
  }
}