.productDetailBox {
  padding-top: 24px;

  .productDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;

    @media(max-width: 992px) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    @media(max-width: 768px) {
      // padding: 40px 0;
    }
  }

  .productDescription {
    padding: 80px 0;

    @media(max-width: 996px) {
      padding: 60px 0;
    }

    @media(max-width: 768px) {
      padding: 40px 0;
    }


    p {
      color: #1c1c1c;
      font-size: 14px;
    }
  }

  .similarProduct {
    padding-bottom: 80px;

    @media(max-width: 996px) {
      padding-bottom: 60px;
    }

    @media(max-width: 768px) {
      padding-bottom: 40px;
    }

    .products {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;

      @media(max-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
      }

      @media(max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
      }
    }
  }
}