.myAddress {
  padding: 24px 0;
  min-height: calc(100vh - 70px);

  @media (max-width: 1200px) {
    min-height: calc(100vh - 60px);
  }

  .address_header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .addnew_add {
      color: #2e276f;
      font-weight: 700;
      cursor: pointer;
      font-size: 16px;
    }
  }

}