.productInfo {
  width: 100%;

  .basicInfo {
    h1 {
      color: #1c1c1c;
      font-size: 30px;

      @media(max-width:768px) {
        font-size: 18px;
      }
    }

    p {
      color: #989898;
      padding-bottom: 10px;

      @media(max-width:768px) {
        font-size: 14px;
      }
    }

    h4 {
      font-size: 25px;
      padding-bottom: 10px;

      @media(max-width:768px) {
        font-size: 16px;
        font-weight: 500;
      }

      small {
        color: #989898;
        font-size: 16px;
        text-decoration: line-through;

        @media(max-width:768px) {
          font-size: 14px;
          padding: 0 3px;
        }

      }

      span {
        color: #27ae60;
        font-size: 16px;
        font-weight: 400;

        @media(max-width:768px) {
          font-size: 14px;
        }
      }
    }
  }

  .productRating {
    display: flex;

    p {
      margin-top: 4px;
      padding-left: 10px;
      color: #989898;
      font-size: 15px;

      @media(max-width:768px) {
        font-size: 14px;
      }

      a {
        color: #eb3b5a;
        text-decoration: none;
      }
    }
  }

  .productSize {
    padding-top: 10px;

    @media(max-width:768px) {
      padding-top: 0;
    }

    p {
      color: #1c1c1c;

      span {
        font-weight: 500;
      }

      @media(max-width:768px) {
        font-size: 14px;
      }
    }

    .sizeOption {
      display: flex;
      gap: 10px;
      padding-top: 10px;

      .size {
        color: #989898;
        width: 70px;
        height: 40px;
        font-size: 14px;
        line-height: 39px;
        text-align: center;
        border-radius: 20px;
        border: 2px solid #989898;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        @media(max-width:768px) {
          width: 45px;
          height: 30px;
          line-height: 27px;
          font-size: 12px;
        }

        &:hover {
          border: 2px solid #eb3b5a;
        }
      }

      .size.active {
        color: #1c1c1c;
        border: 2px solid #eb3b5a;
      }

      .size.nosize {
        border: 1px solid #d2d2d2;
        background: #d2d2d2;
        color: #fff;
      }
    }
  }

  .productColor {
    padding-top: 20px;

    @media(max-width:768px) {
      padding-top: 10px;
    }

    p {
      color: #1c1c1c;
      padding-bottom: 10px;
      text-transform: capitalize;

      span {
        font-weight: 500;
      }
    }
  }

  .productBtn {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 10px;


    @media(max-width:768px) {
      gap: 10px;
      padding-top: 10px;
      padding-bottom: 0;
    }

    a {
      text-decoration: none;
      width: 100%;
    }

    button {
      width: 100%;

      svg {
        margin-right: 5px;
      }
    }

    .addToCart {
      svg {
        margin-top: -6px;
      }
    }

    .addToWishlist {
      background: #fff;
      color: #1c1c1c;
      border: 1px solid #989898;

      &:hover {
        background: #fff;
        color: #eb3b5a;
        border: 1px solid #ff5c77;
      }
    }
  }

  .extraInfo {

    .box {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      .icon {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #989898;

        @media(max-width:768px) {
          width: 35px;
          height: 35px;
          line-height: 33px;
        }
      }

      small {
        // max-width: 150px;

        @media(max-width:768px) {
          font-size: 12px;
        }
      }
    }
  }
}