.myAccount {
  padding: 50px 0;
  min-height: calc(100vh - 70px);

  @media (max-width: 768px) {
    padding: 20px 0;
  }

  form {
    .heading {
      font-weight: 700;
      font-size: 16px;
      color: #2E276F;
    }

    small {
      color: #FD1021;
      font-size: 14px;
      font-weight: 400;
    }

  }
}