.newspinner {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    color: #eb3b5a;
    border-right-color: #ddd;
    --bs-spinner-border-width: 3px !important;
  }

  @media (max-width: 1200px) {
    min-height: calc(100vh - 60px);
  }
}