.productImageSection {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;

  @media(max-width:768px) {
    gap: 5px;
  }

  .image_preview {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media(max-width:768px) {
      gap: 5px;
    }

    img {
      height: 70px;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 2px;
      transition: all 0.1s ease;

      &:hover {
        border: 2px solid #1c1c1c;
      }
    }

    img.active {
      border: 2px solid #1c1c1c;
    }
  }

  .image_view {
    img {
      height: 600px;
      width: 100%;
      object-fit: cover;
      border-radius: 2px;

      @media(max-width:768px) {
        height: 100%;
      }
    }
  }
}