.sectionHeading {
  font-size: 24px;
  font-weight: 700;
  color: #1C1C1C;
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
  line-height: 24px;


  @media(max-width: 768px) {
    font-size: 16px;
    padding-left: 15px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
    background: #eb3b5a;
  }
}